.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to 'Popular PROTO', prototypes_popular_index_path
        %li{role: "presentation"}
          = link_to 'Newest PROTO', root_path
      / %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
      =link_to "Viwe Tags", tags_path, class: "btn btn-default col-lg-1"
.container
  .row
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/web"}
        .tag-name
          web
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/ios"}
        .tag-name
          iOS
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/design"}
        .tag-name
          Design
        .tag-project
          1 project
