.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to 'Popular PROTO', prototypes_popular_index_path
        %li{role: "presentation"}
          = link_to 'Newest PROTO', root_path
      / %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
      =link_to "Viwe Tags", tags_path, class: "btn btn-default col-lg-1"
.container
  .row
    .tag-header
      %span # web
    .col-sm-4.col-md-3.proto-content
      - @prototypes.each do |prototype|
      .thumbnail
        %a{href: "/prototypes/1"}
          %img{alt: " ", src: "sample.png"}/
        .caption
          %h3
            Salvation Army on iPad App Wireframe
          .proto-meta
            .proto-user
              %a{href: "/users/1"} user
            .proto-posted
              Jun 28 Tue
